@model WebApplication1.Models.Payscale

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Payscale</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BasicSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BasicSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Da)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Da)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NetSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NetSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InHandSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InHandSalary)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PayBand">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
